<div class="docs-navbar__link-container">
  <a href="/" class="docs-navbar__link docs-navbar__link-logo">ember-socket-guru</a>
  <a href="/" class="docs-navbar__link">Start</a>
  <a href="/technology" class="docs-navbar__link">Documentation</a>
</div>
<a href="https://github.com/netguru/ember-socket-guru" class="docs-navbar__link-source-container">
  <span class="docs-navbar__link docs-navbar__link--source">View source</span>
  <img src="github-icon.png" alt="GitHub">
</a>
