<div class="c-main-page">
  <div class="container">
    <div class="c-main-page__logo">
      <h1>ember-socket-guru</h1>
    </div>
    <div class="c-main-page__author-framework">
      <div class="c-main-page__author-framework-item">
        for <a href="http://emberjs.com" target="_blank" rel="noopener noreferrer">
          Ember.js
        </a>
      </div>
      <div class="c-main-page__author-framework-item">
        by <a href="http://netguru.co" target="_blank" rel="noopener noreferrer">
          Netguru
        </a>
      </div>
    </div>

    <div class="c-main-page__hero">
      <div class="c-main-page__sentence">
        <span>Socket.IO integration for your Ember app</span>
      </div>
    </div>

    <div class="c-main-page__installation">
      <div class="c-main-page__installation-pane">
        <div class="c-main-page__circles">
          <span class="c-main-page__circle"></span>
          <span class="c-main-page__circle"></span>
          <span class="c-main-page__circle"></span>
        </div>
        <div class="c-main-page__instruction-pane">
          <span class="c-main-page__installation-text c-main-page__installation-text--green">$ npm</span>
          <span class="c-main-page__installation-text">
            install ember-socket-guru
          </span>
        </div>
      </div>
      <span class="c-main-page__version">Ember.js 4.0+ required</span>
    </div>
  </div>
  <div>
    <span>Brought to you with ♥ by</span>
    <a href="https://netguru.co">Netguru</a>
  </div>
</div>
